.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    padding-top: 25px;
    background-color: #000000;
}

.header {
    font: {
        size: 36px;
        weight: 300;
    }

    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.featuresContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
    gap: 50px;
}