.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 110px;
    background-color: #000000;
    box-shadow: 0 3px 3px #D7B46A;

    border-bottom: {
        width: 4px;
        style: solid;
        color: #D7B46A;
    }

    .logo {
        width: 120px;
    }

    .navbars {
        padding-right: 2%;

        .navLink {
            text-decoration: none;
            color: #FFFFFF;
            background-color: #000000;
            border-radius: 4px;
            padding: 10px;

            font: {
                size: 18px;
                weight: 400;
            }

            &:hover {
                color: #000000;
                background-color: gray;
            }
        }
    }
}