$displays: (
    flex,
    none
);

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

@each $display in $displays {
    .slide_#{$display} {
        position: relative;
        display: $display;
        width: 100%;
    }
}

.dotsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    padding-bottom: 50px;
}

.dotActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background-color: #f1f1f1;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background-color: rgb(32, 32, 32);
}