@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;

    .sidetabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(20% - 10px);
        min-height: 300px;
        gap: 25px;
        padding-left: 10px;

        .tab {
            cursor: pointer;
            font: {
                family: 'Kanit', sans-serif;
                size: 26px;
                weight: 300;
            }
        
            width: 100%;
            text-align: start;
        }
    }

    .panel {
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow-y: auto;
    }
}