@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    width: 100%;
    background-color: #D7B46A;

    .informationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 20px);
        padding: 15px 10px 10px 10px;
        background-color: #FFFFFF;

        .information {
            display: flex;
            justify-content: center;
            text-align: center;

            font: {
                size: 18px;
                weight: 700;
            }
        }
    }

    .purchaseContainer {
        display: flex;
        flex-direction: row;
        width: calc(100% - 60px);
        padding: 30px;
        gap: 40px;

        .image {
            width: 1000px;
            height: 450px;
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            width: calc(100% - 30px);
            padding: 0 15px 15px 15px;
            gap: 20px;

            border: {
                radius: 8px;
                color: #FFFFFF;
                style: solid;
                width: 2px;
            }

            .cardInfo {
                display: flex;
                flex-direction: column;
                width: 100%;

                .productName {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 36px;
                        weight: 600;
                    }
                }

                .price {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 24px;
                        weight: 600;
                    }
                }
            }

            .cardDetails {
                display: flex;
                flex-direction: column;
                width: 75%;
                gap: 20px;

                .title {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 22px;
                        weight: 400;
                    }
                }

                .directionButton {
                    cursor: pointer;

                    font: {
                        family: 'Kanit', sans-serif;
                        size: 22px;
                        weight: 400;
                    }
                }

                .input {
                    width: calc(100% - 20px);
                    height: 30px;
                    padding: 0 10px;

                    border: {
                        radius: 10px;
                        style: none;
                    }

                    &:hover {
                        border-color: #000000;
                    }
                }

                .buttonContainer {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;

                    .button {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        height: 40px;
                        background-color: #FFFFFF;

                        font: {
                            family: 'Kanit', sans-serif;
                            size: 16px;
                            weight: 400;
                        }

                        border: {
                            width: 1px;
                            radius: 5px;
                        }

                        &:hover {
                            box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                        }

                        .fileUpload {
                            display: none;
                        }
                    }
                }

                .colors {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 40px;
                    gap: 2%;

                    .color {
                        cursor: pointer;
                        width: 15%;
                    }
                }

                .cardDirectionContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    max-height: 100px;
                    gap: 50px;

                    .image {
                        cursor: pointer;
                        width: 120px;
                        height: 100px;
                    }
                }
            }

            .addButtonContainer {
                display: flex;
                justify-content: flex-end;
                width: 100%;


                .addButton {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 40px;
                    background-color: #FFFFFF;

                    font: {
                        family: 'Kanit', sans-serif;
                        size: 16px;
                        weight: 400;
                    }

                    border: {
                        width: 1px;
                        radius: 5px;
                    }

                    &:hover {
                        box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }

    .mobilePurchaseContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 60px);
        padding: 30px;
        gap: 40px;

        .mobileImage {
            width: 300px;
            height: 300px;
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            width: calc(100% - 30px);
            padding: 0 15px 15px 15px;
            gap: 20px;

            border: {
                radius: 8px;
                color: #FFFFFF;
                style: solid;
                width: 2px;
            }

            .cardInfo {
                display: flex;
                flex-direction: column;
                width: 100%;

                .productName {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 36px;
                        weight: 600;
                    }
                }

                .price {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 24px;
                        weight: 600;
                    }
                }
            }

            .cardDetails {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 20px;

                .title {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 22px;
                        weight: 400;
                    }
                }

                .directionButton {
                    cursor: pointer;

                    font: {
                        family: 'Kanit', sans-serif;
                        size: 22px;
                        weight: 400;
                    }
                }

                .input {
                    width: calc(100% - 20px);
                    height: 30px;
                    padding: 0 10px;

                    border: {
                        radius: 10px;
                        style: none;
                    }

                    &:hover {
                        border-color: #000000;
                    }
                }

                .buttonContainer {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;

                    .button {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        height: 40px;
                        background-color: #FFFFFF;

                        font: {
                            family: 'Kanit', sans-serif;
                            size: 16px;
                            weight: 400;
                        }

                        border: {
                            width: 1px;
                            radius: 5px;
                        }

                        &:hover {
                            box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                        }

                        .fileUpload {
                            display: none;
                        }
                    }
                }

                .colors {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 10px;

                    .color {
                        cursor: pointer;
                        width: 30%;
                        height: 40px;
                    }
                }

                .cardDirectionContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    gap: 15px;

                    .image {
                        cursor: pointer;
                        width: 120px;
                        height: 100px;
                    }
                }
            }

            .addButtonContainer {
                display: flex;
                justify-content: flex-end;
                width: 100%;


                .addButton {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 40px;
                    background-color: #FFFFFF;

                    font: {
                        family: 'Kanit', sans-serif;
                        size: 16px;
                        weight: 400;
                    }

                    border: {
                        width: 1px;
                        radius: 5px;
                    }

                    &:hover {
                        box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }
}