@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;

    .mobileModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 70vw;
        max-width: 70vw;
        height: 400px;
        padding: 20px 20px;
        margin: 20px 0;
        background-color: #D7B46A;
        gap: 10px;
        box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
        border-radius: 15px;
    }

    .desktopModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 25vw;
        max-width: 25vw;
        height: 350px;
        padding: 20px 20px;
        margin: 20px 0;
        background-color: #D7B46A;
        gap: 10px;
        box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
        border-radius: 15px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .closeContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .close {
            cursor: pointer;
            width: 20px;
        }
    }

    .imageContainer {
        display: flex;
        justify-content: center;
        width: 100%;

        .image {
            width: 150px;
            border-radius: 10px;
        }
    }

    .companyName {
        font: {
            family: 'Kanit', sans-serif;
            size: 28px;
            weight: 400;
        }

        width: 100%;
        text-align: center;
        line-height: 120%;
        color: #000000;
    }

    .fullname {
        font: {
            family: 'Kanit', sans-serif;
            size: 20px;
            weight: 400;
        }

        width: 100%;
        text-align: center;
        color: #000000;
    }

    .rowContainer {
        display: flex;
        padding: 5px 20px;
        box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.75);
        background-color: #FFFFFF;

        border: {
            radius: 10px;
            width: 1px;
            style: solid;
            color: #000000;        
        };

        .row {
            display: flex;
            gap: 10px;

            .icon {
                width: 25px;
            }

            .text {
                font: {
                    family: 'Kanit', sans-serif;
                    size: 14px;
                    weight: 400;
                }
                width: 100%;
                color: #000000;
            }
        }
    }

    .addToContactContainer {
        display: flex;
        justify-content: center;
        width: 100%;

        .addToContact {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 40px;
            background-color: #FFFFFF;
            box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.75);

            font: {
                family: 'Kanit', sans-serif;
                size: 16px;
                weight: 400;
            }

            border: {
                width: 1px;
                radius: 5px;
            }

            &:hover {
                box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
            }
        }
    }

    .iconContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;

        .mobileIcon {
            width: 60px;
            border-radius: 250px;

            &:hover {
                box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
            }
        }

        .desktopIcon {
            width: 75px;
            border-radius: 250px;

            &:hover {
                box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
            }
        }
    }
}