@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #D7B46A;
    gap: 40px;

    .listContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(70% - 50px);
        padding: 50px 25px;
        gap: 20px;
        background-color: #FFFFFF;

        .outsideLine {
            width: 100%;
            height: 2px;
            background-color: #D7B46A;
        }

        .insideLine {
            width: 100%;
            height: 2px;
            background-color: #D7B46A;
            opacity: 0.75;
        }

        .elementContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .logo {
                border-radius: 10px;
                width: 100px;
            }

            .productDetail {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .productName {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 18px;
                        weight: 400;
                    }
                }

                .direction {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 12px;
                        weight: 400;
                    }

                    opacity: 0.75;
                }

                .color {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 12px;
                        weight: 400;
                    }

                    opacity: 0.75;
                }
            }

            .price {
                font: {
                    family: 'Kanit', sans-serif;
                    size: 18px;
                    weight: 400;
                }
            }

            .trash {
                cursor: pointer;
                width: 25px;
            }
        }

        .emptyCartButtonContainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .emptyCartButton {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 40px;
                color: #FFFFFF;
                background-color: #D7B46A;

                font: {
                    family: 'Kanit', sans-serif;
                    size: 16px;
                    weight: 400;
                }

                border: {
                    width: 1px;
                    radius: 5px;
                }

                &:hover {
                    box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                }
            }
        }

        .emptyCartMessage {
            display: flex;
            justify-content: center;

            font: {
                family: 'Kanit', sans-serif;
                size: 24px;
                weight: 400;
            }
        }
    }
}

.mobileContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #D7B46A;
    gap: 40px;

    .listContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 50px);
        padding: 50px 25px;
        gap: 20px;
        background-color: #FFFFFF;

        .outsideLine {
            width: 100%;
            height: 2px;
            background-color: #D7B46A;
        }

        .insideLine {
            width: 100%;
            height: 2px;
            background-color: #D7B46A;
            opacity: 0.75;
        }

        .elementContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .logo {
                border-radius: 10px;
                width: 100px;
            }

            .productDetail {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .productName {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 18px;
                        weight: 400;
                    }
                }

                .direction {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 12px;
                        weight: 400;
                    }

                    opacity: 0.75;
                }

                .color {
                    font: {
                        family: 'Kanit', sans-serif;
                        size: 12px;
                        weight: 400;
                    }

                    opacity: 0.75;
                }
            }

            .price {
                font: {
                    family: 'Kanit', sans-serif;
                    size: 18px;
                    weight: 400;
                }
            }

            .trash {
                cursor: pointer;
                width: 25px;
            }
        }

        .emptyCartButtonContainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .emptyCartButton {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 40px;
                color: #FFFFFF;
                background-color: #D7B46A;

                font: {
                    family: 'Kanit', sans-serif;
                    size: 16px;
                    weight: 400;
                }

                border: {
                    width: 1px;
                    radius: 5px;
                }

                &:hover {
                    box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.75);
                }
            }
        }

        .emptyCartMessage {
            display: flex;
            justify-content: center;

            font: {
                family: 'Kanit', sans-serif;
                size: 24px;
                weight: 400;
            }
        }
    }
}