.title {
    color: #FFFFFF;
    font: {
        size: 18px;
        weight: 400;
    }
}

.input {
    font-size: 14px;
    padding: 5px 15px;
    width: 200px;
}

.error {
    color: red;
    font: {
        size: 14px;
        weight: 400;
    }
}