@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;

    .mobileModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 70vw;
        max-width: 70vw;
        height: 100px;
        padding: 20px 20px;
        z-index: 2;
        margin-top: 150px;
        background-color: #FFFFFF;
        gap: 25px;
        box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.75);
        border-radius: 15px;
    }

    .desktopModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        max-width: 300px;
        height: 100px;
        padding: 20px 20px;
        gap: 20px;
        z-index: 2;
        margin-top: 150px;
        background-color: #FFFFFF;
        box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.75);
        border-radius: 15px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .closeContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .close {
            cursor: pointer;
            width: 20px;
        }
    }

    .content {
        font: {
            family: 'Kanit', sans-serif;
            size: 16px;
            weight: 400;
        }
    }
}