.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 94px);
    background-color: #000000;

    .loginContainer {
        display: flex;
        flex-direction: column;
        padding: 30px 75px;

        border: {
            radius: 30px;
            style: solid;
            color: #D7B46A;
        }

        gap: 45px;

        .loginHeader {
            color: #FFFFFF;

            font: {
                size: 36px;
                weight: 300;
            }
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .errorMessage {
                color: red;

                font: {
                    size: 14px;
                    weight: 400;
                }
            }

            .button {
                cursor: pointer;
                margin-top: 20px;
                padding: 8px 5px;
            }
        }

        .button {
            cursor: pointer;
            margin-top: 20px;
            padding: 8px 5px;
        }
    }
}